*.bak
*.dcu
*.ppu
*.o
*.obj
*.compiled
*.rsj
*/lib/
*/backup/
*/*/lib/
*/*/backup/
/testing/
/example/
/images/
/lib/
/backup/
*.key
*.crt
*.dbg
*.log
*.dll
*.exe
*.lps
*.sh
*.db
*.sqlite
*.json
*.gz
*.zip
*.7z
*.png
!screenshots/*.png
*.trc
webcamclientviewer
link*.res
ppas.bat
libpascurl.pas
